.buttonContainer {
	height: 83px;
	width: 83px;
	display: flex;
	flex: 1 1;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 38px;
	background-color: #1b1b32;
	color: white;
	border-radius: 25px;
	border: 2px solid white;
	margin: 4px;
	cursor: pointer;
	user-select: none;
}

.buttonContainer:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.operator {
	background-color: #ff9f1c;
}
